---
const { badge } = Astro.props;
---

<>
	<a href={badge.link} target="_blank">
		<picture>
			<source
				media="(prefers-color-scheme: dark)"
				srcset={`${badge.img}${DARK_STYLE}`}
			/>
			<source
				media="(prefers-color-scheme: light)"
				srcset={`${badge.img}${LIGHT_STYLE}`}
			/>
			<img alt="Astro" src={`${badge.img}${DARK_STYLE}`} />
		</picture>
	</a>
	<br />
</>
