---
import Biome from "@Component/Readme/CodeEditorLand/Dependency/Biome.astro";
import Land from "@Component/Readme/CodeEditorLand/Dependency/Land.astro";
import OXC from "@Component/Readme/CodeEditorLand/Dependency/OXC.astro";
import Tauri from "@Component/Readme/CodeEditorLand/Dependency/Tauri.astro";
import EcoSystem from "@Component/Readme/CodeEditorLand/EcoSystem/EcoSystem.astro";
import Table from "@Component/Readme/Table.astro";
---

<>
	<a
		href="https://app.fossa.com/projects/git%2Bgithub.com%2FCodeEditorLand%2FDependency?ref=badge_small"
		><img
			src="https://app.fossa.com/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FDependency.svg?type=small"
			alt="FOSSA Status"
		/></a
	>

	<Table>
		<EcoSystem Open={true} />

		<Land Open={true} />

		<Tauri Open={true} />

		<OXC Open={true} />

		<Biome Open={true} />
	</Table>

	<a
		href="https://fossa.app/projects/git%2Bgithub.com%2FCodeEditorLand%2FDependency?ref=badge_large&issueType=license"
		><img
			src="https://fossa.app/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FDependency.svg?type=large&issueType=license"
			alt="FOSSA Status"
		/></a
	>
</>
